{% extends 'base.html' %}


{% block content %}
<div class="form">
  <h3 class="heading">Edit Your Blog</h3>
  <form action="" enctype="multipart/form-data" method="post" class="form-group-lg">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
      <label for="title"></label><br>
      <input name="title" id="title" type="text" value="{{ form.title.value }}" class="w-50" aria-autocomplete="off" placeholder="Title of your article?">
      <span class="error">{{ form.title.errors }}</span>
    </div>
    <div class="my-5">
      <label for="image"></label><br>
      {{ form.image }}
      <span class="error">{{ form.image.errors }}</span>
    </div>
    <div>
      {{ form.content.errors }}
      <label for="content"></label><br>
      {{ form.content }}
    </div>
    <button class="btn btn-primary w-50">Submit</button>
  </form>
</div>
{% endblock %}