{% extends 'base.html' %}


{% block content %}
{% if messages %}
  <div class="alert alert-success alert-dismissble d-flex align-items-center fade show w-50" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    {% for message in messages %}
      {{ message }}  😊 
    {% endfor %}
    <button type="button" class="btn-close ms-auto float-end" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
<div class="container-fluid width" style="width: 70%;">
  <h3 class="heading"> {{ blog.title|title }} </h3>   
  <img src="{{ blog.image.url }}" alt="" class="img-fluid rounded mx-auto d-block p-3" height="10" width="360">
  <div id="writer" class="my-3">
    <span>By {{ blog.writer }}</span><br>
    <span>{{ blog.date_posted.date }}</span>
  </div>
  <div style="font-family: Arial, Helvetica, sans-serif;">
    <p>{{ blog.content|capfirst|safe }}</p>
  </div>
  {% if request.user == blog.writer %}
    <div class="my-5">
      <a href="{% url 'blog:blog_edit' blog.slug blog.date_posted.year blog.date_posted.month %}" class="btn btn-outline-primary">Edit blog</a>

      <button type="button" class="btn btn-outline-danger ms-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Delete blog
      </button>

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete this blog?</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h4> {{ blog.title }} </h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <hr>
  <div class="like-info mb-5 fs-2 p-2">
    <i class="bi bi-suit-heart{% if request.user in blog.liked_by.all %}-fill{% endif %}" hx-post="{% url 'blog:update_like' blog.slug %}"></i>
    <span class="fst-italic fs-5">{{ blog.liked_by.count }} </span>
  </div>
</div>
{% endblock %}