{% extends 'base.html' %}


{% block content %}
{% if messages %}
  <div class="alert alert-success alert-dismissble d-flex align-items-center fade show w-50" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    {% for message in messages %}
      {{ message }}  👍
    {% endfor %}
    <button type="button" class="btn-close ms-auto float-end" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
<div class="width">
  <h3 class="heading">Our Blog</h3>
  {% for blog in blogs_list %}
    <div class="my-5">
      <div class="d-flex p-3">
        <img src="{{ blog.image.url }}" alt="" class="flex-start rounded-4" width="190" height="190">
        <div class="flex-end px-3" style="width: calc(100% - 190px);">
          <a href="{{ blog.get_absolute_url }}"> <h5>{{ blog|title }}</h5></a> 
          <p>{{ blog.content|truncatewords_html:25|safe }}</p>
          <div id="writer">
            <hr class="mb-0">
            <span class="small">
              {% if blog.writer.first_name %}
                {{ blog.writer.first_name }} {{ blog.writer.last_name }}
              {% else %}
                {{ blog.writer.username }}
              {% endif %}
            </span><br>
            <span class="small">{{ blog.date_posted.date }}</span>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% if is_paginated %}
    <div class="pagination d-block">
      <nav aria-label="Page navigation example" class="fst-italic">
        <ul class="pagination">
          {% if not page_obj.has_next %}
            <li class="page-item"><a href="?page=1" class="page-link">jump to first</a></li>
          {% endif %}
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
          {% endif %}
          {% for page in page_obj.paginator.page_range %}   
            {% if page_obj.number == page %}    
              <li class="page-item"><a class="page-link active" href="?page={{ page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
          {% endif %}
          {% if not page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">jump to last</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="step-links">
        <span class="text-muted fst-italic">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
      </div>
    </div>
  {% endif %}
</div>
{% endblock content %}