{% extends 'base.html' %}

{% block content %}
  <div class="form user_form">
    <h3 class="heading">Create a new account</h3>
    <form action="" method="post" class="form-group-lg">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="input-group mx-auto justify-content-center">
        <span class="input-group-text w-25">Username</span>
        <input type="text" name="username" id="username" class="border-start">
        <span class="error">{{ form.username.errors }}</span>
      </div>
      <div class="input-group mx-auto justify-content-center">
        <span class="input-group-text w-25">Email Address</span>
        <input type="email" name="email" id="email" class="border-start">
        <span class="error">{{ form.email.errors }}</span>
      </div>
      <div class="input-group mx-auto justify-content-center">
        <span class="input-group-text w-25">Password</span>
        <input type="password" name="password1" id="password1" autocomplete="new-password" class="border-start">
        <span class="error">{{ form.password1.errors }}</span>
      </div>
      <div class="input-group mx-auto justify-content-center">
        <span class="input-group-text w-25">Re-password</span>
        <input type="password" name="password2" id="password2" autocomplete="new-password" class="border-start">
        <span class="error">{{ form.password2.errors }}</span>
      </div>
      <button type="submit" class="btn btn-primary mt-5">Sign Up</button>
      <hr class="my-3 mx-5">
      <p>Already have an account? <a href="{% url 'account:login' %}">Login</a></p>
    </form>
  </div>
{% endblock %}
    