{% extends 'base.html' %}

{% block content %}
  <div class="form user_form">
    <h3 class="heading">Create a new account</h3>
    <form action="" method="post" class="form-group-lg">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div>
        <label for="username">Username</label><br>
        <input type="text" name="username" id="username" autofocus >
        <span class="error">{{ form.username.errors }}</span>
      </div>
    
      <div>
        <label for="email">Email Address</label><br>
        <input type="email" name="email" id="email" >
        <span class="error">{{ form.email.errors }}</span>
      </div>

      <div>
        <label for="password1">Password</label><br>
        <input type="password" name="password1" id="password1" autocomplete="new-password">
        <span class="error">{{ form.password1.errors }}</span>
      </div>

      <div>
        <label for="password2">Confirm Password</label><br>
        <input type="password" name="password2" id="password2" autocomplete="new-password" >
        <span class="error">{{ form.password2.errors }}</span>
      </div>
      <button class="btn btn-primary m-3 px-4">Sign Up</button>
      <hr class="my-3 mx-5">
      <p>Already have an account? <a href="{% url 'account:login' %}">Login</a></p>
    </form>
  </div>
{% endblock %}
    