@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    padding: 0;
}

ul.nav-item, .home {
    display: flex;
}

li.nav-item {
    display: inline;
}

.nav-link {
    color: white;
}

.form {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

.errorlist {
    color: #dc3545;
    text-align: center;
    list-style-type: none;
}

.heading, .letter-heading {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 2rem auto;
}

.letter-heading, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

#length {
    float: right;
}

a {
    text-decoration: none;
}

p, .heading {
    line-height: 2;
}

.width {
    margin: 0 auto;
    width: 65%;
}

.hover:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

#writer {
    color: darkgray;
}

input, textarea {
    border: .12rem lightgray solid;
    padding: .5rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

input::placeholder, textarea::placeholder {
    color: lightgray;
}

input:focus, textarea:focus {
    outline: none;
    border-left: 2px solid #0d6efd;
    border-bottom: 2px solid #0d6efd;
    border-left: 0;
}

#home-form {
    width: 100%;
}

.form-group-lg div {
    margin: 1rem 0rem ;
}

form button {
    width: 30%;
}

.input-group {
    width: 40% ;
    justify-self: center;
}

.input-group input {
    width: 50% !important;
}

.input-group input:focus {
    text-align: center;
    box-shadow: none;
}

#letters {
    width: 80%;
}

.np {
    width: fit-content;
    margin: 0 auto;
    font-size: 1rem
}

.nav-buttons {
    color: rgb(13 110 253);
}

.home {
    padding: 2rem;
}

.user_form input {
    width: 25%;
}

.user_form input {
    padding: 5px;
}

.blur {
    color: transparent;
    text-shadow: 0 0 8px #000;
    opacity: 0.5;
}

.help_text, .error {
    font-size: .82rem;
}

.error {
    color: #dc3545;
    list-style-type: none;
}

#home-form .sm-input {
    width: 73%;
}

.audience {
    border-radius: 0;
}

button, .btn {
    border-radius: .3rem !important;
}
