{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    {% if message.tags == "success" %}
      <div class="alert alert-success alert-dismissble fade show w-50 d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <span>{{ message }}  😊 </span>
        <button type="button" class="btn-close ms-auto float-end" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% elif message.tags == "error" %}
      <div class="alert alert-danger alert-dismissble fade show w-50 d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" weight="17" height="17" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </svg>
        <span>{{ message }} 🤕</span>
        <button type="button" class="btn-close ms-auto float-end" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
<div class="form">
  <h3 class="heading mb-2"> Letter to Your Future Self</h3>
  <form action="" method="post" class="form-group-lg">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="text-start ms-lg-5 w-auto">
      <label for="title"></label><br>
      <input name="title" id="title" placeholder="Subject of your letter" class="w-50" autocomplete="off">
      <span class="error">{{ form.title.errors }}</span>
    </div>
    <div class="d-flex justify-content-evenly">
      <div>
        <label for="content"></label><br>
        {{ form.content }}
        <span class="error">{{ form.content.errors }}</span>
      </div>
      <div class="text-start">
        <div class="mb-5">
          <label for="email"></label><br>
          <input type="email" name="email_address" id="email_address" class="w-100" placeholder="Recipient email address">
          <span class="error">{{ form.email_address.errors }}</span>
        </div>
        <div class="mb-5">
          <label for="delivery_date"></label><br>
          <input type="date" name="delivery_date" id="delivery_date" class="w-100"><br>
          {% if form.delivery_date.errors %}
            <span class="error">{{ form.delivery_date.errors }}</span>
          {% else %}
              <span class="help_text small text-muted">&#9888; Date must be at least a month from now</span>
          {% endif %}
        </div>
        <div class="mb-5">
          <label for="audience">Choose your audience</label><br>
          <span class="radio">
            <input type="radio" class="btn-check" name="audience" id="private" value="private" autocomplete="off">
            <label class="btn btn-outline-primary btn-sm" for="private">Private</label>
          </span>
          <span class="ms-4 radio">
            <input type="radio" class="btn-check" name="audience" id="public" autocomplete="off" value="public, but as anon">
            <label class="btn btn-outline-primary btn-sm" for="public">Public, but anonymous</label>
          </span>
        </div>
        <button class="btn btn-primary w-100 p-2 create-btn" type="submit">🛫 Send to the Future</button>
      </div>  
    </div>
  </form>
</div>
{% endblock %}