{% extends 'base.html' %}


{% block content %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show w-50 d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    {{ message }} 🙄
    <button type="button" class="btn-close ms-auto float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}
<div class="home d-flex justify-content-evenly">
  <div style="width: 60%;">
    <h2 class="heading text-start mt-3 mb-5"> Welcome to Futureself 🔮 </h2>
    <p> 
      <blockquote class="fs-5">
        <span class="h4 fst-italic">S</span>tart a journey of self-discovery and reflection by sending messages to the you of tomorrow.
        Reflect on your present, set goals, and capture memories - all to be unwrapped in the future. 
        Let your future self be inspired by the who you are today. <br> <br>
      </blockquote>
      <blockquote class="text-muted fst-italic">
        "I love this. I've sent myself 5 letters so far and every year it's a surprise. Because I forget so easily. It turns into such a deep reflective process, that I usually weep and laugh while I write."
      </blockquote>
      - Mona Lisa <br>
      Member since 2022
    </p>
    <div class="my-4">
        Futureself letters are good for
        <ul>
          <li>Setting future goals</li>
          <li>Reliving memories</li>
          <li>Acknowledging self-growth and achievements</li>
        </ul>
        <p class="fst-italic fs-5">Allow us be your personal time capsule, helping you connect with your past and future ⌛</p>
    </div>
  </div>
  <div class="align-self-center text-center mt-5">
    <img src="/static/images/_c451e483-d872-4870-9877-8637eb489b74.jpeg" alt="Letter in motion" width="360" class="img-fluid mt-lg-2">
    <a class="btn btn-outline-primary m-3" href='{% url "letter:create_letter" %}'>Take me to the Future</a>
  </div>
</div>
{% endblock content %}