{% extends 'base.html' %}


{% block content %}
{% if messages %}
  <div class="alert alert-info alert-dismissible fade show w-50" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    {% for message in messages %}
      {{ message }} 🙄
    {% endfor %}
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close" ></button>
  </div>
{% endif %}
<div class="home">
  <div class="home-note">
    <h2 class="heading text-start mt-3"> Write a Letter to Your Future Self</h2>
    <p> 
      <blockquote class="text-muted">
        "I love this. I've sent myself 5 letters so far and every year it's a surprise. Because I forget so easily. It turns into such a deep reflective process, that I usually weep and laugh while I write."
      </blockquote>
      - Mona Lisa <br>
      Member since 2022
    </p>
    <div class="my-5">
        Futureself letters are good for
        <ul>
          <li>Setting future goals</li>
          <li>Reliving memories</li>
          <li>Acknowledging self-growth and achievements</li>
        </ul>
    </div>

  </div>
  <div class="form" id="home-form">
    <form action="" method="post" class="form-group-lg">
      {{ form.non_field_errors }}
      {% csrf_token %}
      <div>
        <label for="title">Title</label><br>
        <textarea name="title" id="title" cols="40" rows="2" placeholder="Title of your letter"></textarea>
        <span class="error">{{ form.title.errors }}</span>
      </div>
    
      <div>
        <label for="content">Content</label><br>
        <textarea name="content" id="content" cols="40" rows="13">Dear Futureself, &NewLine; </textarea>
        <span class="error">{{ form.content.errors }}</span>
      </div>
      
      <div>
        <label for="email">Email Address</label><br>
        <input type="email" name="email_address" id="email_address" placeholder="name@example.com" class="sm-input">
        <span class="help_text text-danger">{{ form.email_address.errors }}</span>
      </div>

      <div>
        <label for="delivery_date">When to deliver</label><br>
        <input type="date" name="delivery_date" id="delivery_date" class="sm-input"><br>
        {% if form.delivery_date.errors %}
          <span class="help_text text-danger">{{ form.delivery_date.errors }}</span>
        {% else %}
            <span class="help_text">&#9888; Date must be at least a month from now</span>
        {% endif %}
      </div>

      <div>
        {{ form.audience.errors }}
        <label for="audience">Audience</label><br>
        <select name="audience" id="audience" class="sm-input">
          <option value="private">Private</option>
          <option value="public, but as anon">Public, but anonymous</option>
        </select>
      </div>
      <button class="btn btn-primary m-3 sm-input">🛫 Send to the Future</button>
    </form>
  </div>
</div>
{% endblock content %}