{% extends 'base.html' %}


{% block content %}
{% if messages %}
  <div class="alert alert-success alert-dismissble fade show w-50 d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Success:">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </svg>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    <button type="button" class="btn-close ms-auto float-end" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}
<div class="container-fluid">
  {% if letter.delivered %}
    <div class="heading">
      <span class="text-muted">🚀 Time travelled: {{ letter.date_posted|timesince:letter.delivery_date }}</span> <br>
      <span class="text-muted">{{ letter.date_posted.date }} &rightarrow; {{ letter.delivery_date }}</span><br>
      <h3>A Letter From The Past </h3>	
      {% if request.user == letter.user %}
        <span class="text-muted"> 📬 Received: {{ letter.email_address }}</span>
      {% endif %}
    </div>
    <div class="width" style="width: 70%;">
      <div class="mb-5">
        <h4> {{ letter.title|title }} </h4>
        <p> {{ letter.content|safe }} </p>
      </div>
      {% if request.user == letter.user %}
        <div class="my-5">
          <h4>Audience</h4>
          {% include "partials/audience.html" %}
        </div>
        <div class="my-5">
          <h4>Delete</h4>
          <p> This action would delete this letter and cannot be undone. </p>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Delete
          </button>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Delete this Letter?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h4> A Letter from {{ letter.date_posted.date }} </h4>
                  {{ letter.title|title }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if letter.comment_set %}    
        {% if letter.audience == 'public, but as anon' or request.user == letter.user %}
          <hr class="">
          <h4>{{ letter.comment_set.count }} {{ letter.comment_set.count|pluralize:"Comment,Comments"|title }}
            <button class="float-end link-primary border-0 fs-6 p-1" hx-get="/comment/new/{{ letter.id }}/" hx-target="#commentform" hx-swap="outerHTML">+ Add</button>
          </h4>
          <div id="commentform"></div>
          {% for comment in letter.comment_set.all %}
            <div class="card p-1 mb-3">
              <div class="card-body">
                <div style="font-size: smaller;">{{ comment.user }} <span class="text-muted float-end" style="font-size: smaller;">{{ comment.date_posted|timesince }} ago </span></div>
                <div> > {{ comment.comment }}</div>
                <!-- {% if comment.user == request.user.username %} <button>Delete</button> {% endif %} -->
              </div> 
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  {% else %}
    <div class="alert alert-warning w-50" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </svg>
      <span>You can't view or modify this letter until delivered.</span>
    </div>
    <div class="heading blur">
      <span>🚀 Time travelled: Travelling</span> <br>
      <h3>A Letter From The Past </h3>	
      <span>From the past &rightarrow; to the future</span><br>
      {% if request.user == letter.user %}
        <span> 📬 Received: {{ letter.email_address }}</span>
      {% endif %}
    </div>
    <div class="width">
      <div class="mb-5 blur">
        <h4> LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT </h4>
        <p> 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum nibh sit amet sagittis fermentum. Donec eget dui eu tellus faucibus vehicula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer non rutrum odio. Aliquam vitae imperdiet libero, sollicitudin faucibus ipsum. Suspendisse id purus risus. Aliquam consectetur malesuada tempus. Suspendisse potenti. Suspendisse viverra laoreet odio quis aliquet. Proin facilisis malesuada orci tincidunt sollicitudin. Proin varius nec justo a volutpat. Praesent fermentum ligula nec dapibus facilisis. In hac habitasse platea dictumst. Fusce sit amet turpis dictum, pretium mi sit amet, hendrerit metus.

          Curabitur nec dui in nulla mattis lobortis. Aliquam posuere purus et augue rutrum fermentum. Sed viverra tellus mollis, pretium risus in, molestie dolor. Aliquam nec tortor magna. Quisque vel erat id ligula pharetra malesuada. Aliquam erat volutpat. Pellentesque iaculis nibh augue, sed congue nibh dignissim a. Integer posuere, augue at sollicitudin dignissim, mi metus malesuada nulla, sit amet sollicitudin lectus tortor vel urna. In a purus metus. Ut dui enim, egestas in urna quis, tempor efficitur quam.        
        </p>
      </div>
      <div class="mt-5">
        {% if request.user == letter.user %}
          <h5>Audience</h5>
          {% if letter.audience == "private" %}
            Currently set to: <span class="badge bg-info p-1">{{ letter.audience }} </span> <br>
          {% else %}
            Currently set to: <span class="badge bg-secondary p-1">{{ letter.audience }} </span> <br>
          {% endif %}
        {% endif %} 
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}