{% extends 'base.html' %}


{% block content %}
<div class="d-letter">
    <h1>
        <span>Time travelled: {{ object.get_time_travelled }}</span> <br>
        A Letter from {{ object.date_posted.date }} <br>
        <span>{{ object.date_posted.date }} &rightarrow; {{ object.date }}</span>
    </h1>
    <div class="letter">
        <h4> {{ object.title|upper }} </h4>
        <p> {{ object.message|safe }} </p>
        <hr class="mb-5">
        <h4>Audience</h4>
        This Letter is set to: <span class="badge bg-info p-1">{{ object.audience }} </span> <br>
        {% if object.audience == private %}
            Only you would be able to see this email.
        {% else %}
            Other users will be able to see the content of this letter but your email address won't be visible to the public.
        {% endif %}

        {% if request.user == object.user %}
            <hr class="mb-5">
            <h4>Delete</h4>
            <p> This action cannot be undone. </p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Delete
            </button>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-danger" id="staticBackdropLabel">Delete this Letter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4> A Letter from {{ object.date_posted.date }} </h4>
                            {{ object.title|title }} <br> <span class="badge bg-info">{{ object.audience }}</span>
                        </div>
                        <div class="modal-footer">
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}