{% extends 'base.html' %}


{% block content %}
<div class="letters-page">
    <div class="letter-list">
        <h3>Travelling Letters</h3>
        {% for letters in object_list %}
            <div class="letters">
                <p>
                    <b> {{ letters.date_posted.date }} &rightarrow; {{ letters.date }}</b> <span class="audience badge bg-info p-1">{{ letters.audience }}</span>
                </p>
                <p> 
                    <a href="{{ letters.get_absolute_url }}"> {{ letters }} </a><br>
                    {{ letters.message|truncatewords:10|safe }}
                </p>
                Travelling
            </div>
        {% empty %}
            <h1> You have no future letters yet. </h1>
        {% endfor %}
    </div>
    <div class="delivered-letters">
        <h3>Delivered Letters</h3>
        {% for letters in delivered_letters %}
            <div class="dlvd-letter">
                <p>
                    <b> {{ letters.date_posted.date }} &rightarrow; {{ letters.date }}</b> <span class="audience badge bg-info p-1">{{ letters.audience }}</span>
                </p>
                <p> 
                    <a href="{{ letters.get_absolute_url }}">{{ letters }}</a><br>
                    {{ letters.message|truncatewords:10|safe }}
                </p>
                <span>Time-travelled: {{ letters.get_time_travelled }}</span>
            </div>
        {% empty %}
            <h4>No letters delivered yet. But when they arrive from the past, they will be available here.</h4>
        {% endfor %}
    </div>
</div>
{% endblock %}